<% if @search.turbo_frame.nil? %>
  <%= render "episodes/podcast/frame", podcast: @podcast do %>
    <div class="pt-16 pb-12 sm:pb-4 lg:pt-12">
      <div class="lg:px-8">
        <div class="lg:max-w-4xl">
          <div class="mx-auto px-4 sm:px-6 md:max-w-2xl md:px-4 lg:px-0">
            <h1 id="main_title" class="text-2xl font-bold leading-7 text-slate-900">
              <% if @search.query.present? %>
                Search Results for "<%= @search.query %>"
              <% else %>
                Search
              <% end %>
            </h1>
          </div>
        </div>
      </div>
    </div>

    <div class="pt-16 pb-12 sm:pb-4 lg:pt-12">
      <div class="lg:px-8">
        <div class="lg:max-w-4xl">
          <div class="mx-auto px-4 sm:px-6 md:max-w-2xl md:px-4 lg:px-0">
            <%= form_with model: @search, scope: "", url: false, method: :get, class: "flex items-center gap-4",
                  data: {
                    turbo_action: "replace",
                    controller: "element",
                    action: "debounced:input->element#requestSubmit",
                  } do |form| %>
              <div class="relative mt-1 rounded-md shadow-sm">
                <div class="pointer-events-none absolute inset-y-0 left-0 flex items-center pl-3">
                  <%= inline_svg_tag "icons/search.svg", class: "h-2.5 w-2.5" %>
                </div>
                <%= form.label :query, class: "sr-only" %>
                <%= form.text_field :query, class: "w-full rounded-md border-gray-300 pl-10 text-sm placeholder:font-mono placeholder:text-sm placeholder:leading-7 placeholder:text-slate-500",
                                    placeholder: "Search", autofocus: true,
                                    aria: {describedby: dom_id(@search, :prompt)},
                                    data: {turbo_permanent: true} %>
              </div>

              <button class="text-sm font-bold leading-6 text-pink-500 hover:text-pink-700 active:text-pink-900">
                Search
              </button>
            <% end %>
          </div>
        </div>
      </div>
    </div>

    <div class="lg:px-8">
      <div class="lg:max-w-4xl">
        <div class="mx-auto px-4 sm:px-6 md:max-w-2xl md:px-4 lg:px-0">
          <p id="<%= dom_id(@search, :prompt) %>" class="font-mono text-sm font-medium leading-7 text-slate-900">
            Search for episodes by their title, subtitle, or transcript.
          </p>
        </div>
      </div>
    </div>

    <div class="divide-y divide-slate-100 overflow-y-auto sm:mt-4 lg:mt-8 lg:border-t lg:border-slate-100">
      <turbo-frame id="page_<%= @page.page %>" target="_top">
        <% if @page.prev %>
          <div class="py-10 sm:py-12 hidden first:block">
            <div class="lg:px-8">
              <div class="lg:max-w-4xl">
                <div class="flex justify-center mx-auto px-4 sm:px-6 md:max-w-2xl md:px-4 lg:px-0">
                  <%= link_to pagy_url_for(@page, @page.prev), rel: "prev",
                    class: "flex animate-bounce items-center justify-center rounded-full bg-white p-2 shadow-lg text-pink-500 ring-1 ring-slate-900/5 focus:ring hover:text-pink-700 active:text-pink-900" do %>
                    <span class="sr-only">Load newer episodes</span>
                    <%= inline_svg_tag "icons/up_arrow.svg", class: "h-6 w-6" %>
                  <% end %>
                </div>
              </div>
            </div>
          </div>
        <% end %>

        <% if @search.query.present? %>
          <%= render(@search_results) || render("searches/search/empty", search: @search) %>
        <% end %>

        <% if @page.next %>
          <%= tag.turbo_frame id: "page_#{@page.next}", src: pagy_url_for(@page, @page.next), loading: "lazy",
                data: {turbo_action: "replace", controller: "element", action: "turbo:frame-load->element#replaceWithChildren"} do %>
            <div class="py-10 sm:py-12">
              <div class="lg:px-8">
                <div class="lg:max-w-4xl">
                  <div class="flex justify-center mx-auto px-4 sm:px-6 md:max-w-2xl md:px-4 lg:px-0">
                    <%= link_to pagy_url_for(@page, @page.next), rel: "next",
                      class: "flex animate-bounce items-center justify-center rounded-full bg-white p-2 shadow-lg text-pink-500 ring-1 ring-slate-900/5 focus:ring hover:text-pink-700 active:text-pink-900" do %>
                      <span class="sr-only">Load older episodes</span>
                      <%= inline_svg_tag "icons/down_arrow.svg", class: "h-6 w-6" %>
                    <% end %>
                  </div>
                </div>
              </div>
            </div>
          <% end %>
        <% end %>
      </turbo-frame>
    </div>
  <% end %>
<% else %>
  <turbo-frame id="search_results_dialog">
    <div class="flex items-center px-4 border-b border-gray-100">
      <%= form_with model: @search, scope: "", method: :get, namespace: "search_results_dialog",
            class: "flex-1 flex items-center gap-2",
            data: {
              controller: "element",
              action: "debounced:input->element#requestSubmit",
            } do |form| %>
        <%= form.hidden_field :turbo_frame %>

        <%= inline_svg_tag "icons/search.svg", class: "pointer-events-none h-5 w-5 text-gray-400" %>
        <%= form.label :query, class: "sr-only" %>
        <%= form.text_field :query, class: "h-12 w-full border-0 bg-transparent pl-11 pr-4 text-gray-800 placeholder-gray-400 focus:ring-0 sm:text-sm underline aria-[activedescendant]:no-underline",
              placeholder: "Search", autofocus: true,
              aria: {describedby: dom_id(@search, :prompt)},
              data: {turbo_permanent: true, combobox_nav_target: "combobox"} %>
      <% end %>

      <form>
        <button class="inline-flex items-center font-mono text-xs rounded-md border border-gray-300 p-1 outline-none focus:ring" formmethod="dialog">
          <kbd><abbr title="Escape" class="no-underline">esc</abbr></kbd>
        </button>
      </form>
    </div>

    <div class="max-h-96 overflow-y-auto text-sm divide-y divide-slate-100 text-gray-800 empty:hidden" id="search_results_listbox" data-combobox-nav-target="listbox">
      <% if @search_results.any? %>
        <%= render(@search_results) %>

        <% if @page.next %>
          <%= button_to url_for(@search), method: "get", params: {**@search},
                id: "search_results_page", tabindex: "-1", role: "option",
                class: "w-full hover:bg-slate-100 aria-selected:bg-slate-100",
                data: {turbo_frame: "_top"} do %>
            <p class="font-medium px-4 py-2">
              View all results for "<%= @search.query %>"
            </p>
          <% end %>
        <% end %>
      <% else %>
        <button id="empty_search_results" type="button" tabindex="-1" role="option"
                class="p-4 text-sm text-gray-500"
                aria-disabled="true">
          No episodes found.
        </button>
      <% end %>
    </div>
  </turbo-frame>
<% end %>
