<!DOCTYPE html>
<html data-controller="application">
  <head>
    <title>Botcasts</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "tailwind", "inter-font", "data-turbo-track": "reload" %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
    <%= javascript_tag type: "module", nonce: true do %>
      import debounced from "debounced"

      debounced.initialize(<%= raw Rails.configuration.debounced.to_json %>)
    <% end %>
  </head>

  <body data-controller="hotkey">
    <%= yield %>
  </body>
</html>
